VITE_PRIVY_APP_ID=""
VITE_TURNKEY_ORGANIZATION_ID=""
VITE_TURNKEY_AUTH_PROXY_CONFIG_ID=""
VITE_ALCHEMY_API_KEY=""
VITE_DYNAMIC_ENVIRONMENT_ID=""
VITE_DFNS_ORG_ID=""
VITE_DFNS_GOOGLE_OAUTH_CLIENT_ID=""
VITE_DFNS_RP_ID="localhost"
VITE_DFNS_RP_NAME="Hinkal"
VITE_OPENFORT_PUBLISHABLE_KEY=""
VITE_OPENFORT_SHIELD_PUBLISHABLE_KEY=""